<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create A Pizza</title>
    <link rel="stylesheet" href="./static/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <nav class="d-flex justify-content-between align-items-center col-12">
        <h1 class="text-center"> {{user.first_name}} {{user.last_name}}'s Pizza!!</h1>
        <div class="d-flex col-4 justify-content-around">
            <a href="/mypizzas" class="btn btn-danger">My Pizzas</a>
            <a href="/dashboard" class="btn btn-primary">Dashboard</a>
            <a href="/logout" class="btn btn-info">Logout</a>

        </div>

    </nav>
    <form action="/update/pizza" method="post" class="col-11 p-4 my-4 bg-dark text-light mx-auto">
        <h2 class="text-primary">Edit {{pizza.name}}</h2>
        {% with messages = get_flashed_messages(category_filter=['pizzas']) %}
            {% if messages %}
            <div class="alert alert-danger" role="alert">
                <strong>Flash AHHHHHHH!!!!</strong>
                    {% for message in messages %}
                    <p>{{message}}</p>
                    {% endfor %}
            </div>
            {% endif %}
        {% endwith %}

        <div class="d-flex justify-content-between col-9">
            <div class="col-4">
                <div class="form-group">
                    <label for="pizza_name">Pizza Name:</label>
                    <input type="text" value="{{pizza.name}}" name="pizza_name" class="form-control">
                </div>
                <div class="form-group">
                    <label for="toppings">Pizza Toppings:</label>
                    <input type="text" value="{{pizza.toppings}}" name="toppings" class="form-control">
                </div>
                <div class="form-group">
                    <label for="pizza_city">Pizza Home City:</label>
                    <input type="text" value="{{pizza.city}}" name="pizza_city" class="form-control">
                </div>
                <input type="hidden" value="{{pizza.id}}" name="id">
                <input type="submit" value="Update" class="btn btn-primary">
            </div>
        </div>

    </form>
</body>
</html>